.card{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.card img{
    width: 550px;
    border-radius: 20px;
    
}

.card img:hover{
    cursor: pointer;
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

.card section{
    background: rgba(1, 9, 28, 0.75);
    padding: 25px;
    border-radius: 20px;
    width: 500px;
    margin-left: 25px;
}

.card h3{
    font-size: 25px;
}

